<!-- ---start grid--- -->
<div class="container">
  <div class="row">
          <div class="col-12">
          <!-- ----start footer---- -->
          <div class="footer">
            <ul>
              <li><img src="assets/footer/facebook.png"></li>
              <li><img src="assets/footer/google-plus.png"></li>
              <li><img src="assets/footer/linkedin.png"></li>
              <li><img src="assets/footer/pinterest.png"></li>
              <li><img src="assets/footer/twitter.png"></li>
            </ul>
          </div>



        <!-- ----end footer---------- -->

      </div> <!-- --end div class="col-12---- -->
       
    </div>
</div>
<!-- ----end grid--- -->