<!-- ---start grid--- -->
<div class="container">
    <div class="row">
            <div class="col-12">
<div class="card-group">
    <div class="card">
      <img src="assets/Catergory/Machine-learning.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Machine Learning</h5>
        <p class="card-text">Machine learning (ML) is the scientific study of algorithms and statistical models that computer systems use to effectively perform a specific task without using explicit instructions, relying on patterns and inference instead.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="assets/Catergory/data-sxience.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Data Science</h5>
        <p class="card-text">Data science is a multi-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from structured and unstructured data.</p>
        <p class="card-text"><small class="text-muted">Last updated 12 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="assets/Catergory/Graphic-Design.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Graphic Design </h5>
        <p class="card-text">Graphic design is the process of visual communication and problem-solving through the use of typography, photography and illustration.</p>
        <p class="card-text"><small class="text-muted">Last updated 25 mins ago</small></p>
      </div>
    </div>
  </div>




  <div class="card-group">
      <div class="card">
        <img src="assets/Catergory/Mobile-App-Development.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mobile device management</h5>
          <p class="card-text">Mobile device management is an industry term for the administration of mobile devices, such as smartphones, tablet computers.</p>
          <p class="card-text"><small class="text-muted">Last updated  3 days ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/Catergory/music.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Music</h5>
          <p class="card-text">Music is an art form and cultural activity whose medium is sound organized in time.</p>
          <p class="card-text"><small class="text-muted">Last updated 12 days ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/Catergory/website-development.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Web Development</h5>
          <p class="card-text">Web development broadly refers to the tasks associated with developing websites for hosting via intranet or internet.</p>
          <p class="card-text"><small class="text-muted">Last updated 5 days ago</small></p>
        </div>
      </div>
    </div>



    <div class="card-group">
  <div class="card">
    <img src="assets/Catergory/AI.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Artificial intelligence</h5>
      <p class="card-text">In computer science, artificial intelligence, sometimes called machine intelligence, is intelligence demonstrated by machines, in contrast to the natural intelligence displayed by humans and other animals </p>
      <p class="card-text"><small class="text-muted">Last updated 30 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets/Catergory/Biology.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Biology</h5>
      <p class="card-text">Biology is the natural science that studies life and living organisms, including their physical structure, chemical processes, molecular interactions, physiological mechanisms, development and evolution.</p>
      <p class="card-text"><small class="text-muted">Last updated 25 days ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets/Catergory/mathes.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mathematics</h5>
      <p class="card-text">Mathematics includes the study of such topics as quantity, structure, space, and change. Mathematicians seek and use patterns to formulate new conjectures; they resolve the truth or falsity of conjectures by mathematical proof.</p>
      <p class="card-text"><small class="text-muted">Last updated 7 mins ago</small></p>
    </div>
  </div>
</div>



</div> <!-- --end div class="col-12---- -->
       
</div>
</div>
<!-- ----end grid--- -->